src/main/resources/META-INF/soa.xsd

<?xml version="1.0" encoding="utf-8" ?>
<xsd:schema xmlns="http://www.my.com/schema/soa"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            targetNamespace="http://www.my.com/schema/soa"
            elementFormDefault="qualified"
            attributeFormDefault="unqualified">

<xsd:element name="registry">
    <xsd:complexType>
        <xsd:attribute name="id" type="xsd:string"></xsd:attribute>
        <xsd:attribute name="protocal" type="xsd:string"></xsd:attribute>
        <xsd:attribute name="address" type="xsd:string"></xsd:attribute>
    </xsd:complexType>
</xsd:element>

<xsd:element name="reference">
    <xsd:complexType>
        <xsd:attribute name="id" type="xsd:string"></xsd:attribute>
        <xsd:attribute name="interface" type="xsd:string"></xsd:attribute>
        <xsd:attribute name="check" type="xsd:string"></xsd:attribute>
    </xsd:complexType>
</xsd:element>


<xsd:element name="protocal">
    <xsd:complexType>
        <xsd:attribute name="id" type="xsd:string"></xsd:attribute>
        <xsd:attribute name="name" type="xsd:string"></xsd:attribute>
        <xsd:attribute name="port" type="xsd:string"></xsd:attribute>
        <xsd:attribute name="host" type="xsd:string"></xsd:attribute>
    </xsd:complexType>
</xsd:element>


<xsd:element name="service">
    <xsd:complexType>
        <xsd:attribute name="id" type="xsd:string"></xsd:attribute>
        <xsd:attribute name="interface" type="xsd:string"></xsd:attribute>
        <xsd:attribute name="ref" type="xsd:string"></xsd:attribute>
    </xsd:complexType>
</xsd:element>


</xsd:schema>